<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebRTC Demo Version 1.0</title>
  </head>
  <body>
    <div class="videos">
      <span>
        <h3>Local Stream</h3>
        <video id="webcamVideo" autoplay playsinline></video>
      </span>
      <span>
        <h3>Remote Stream</h3>
        <video id="remoteVideo" autoplay playsinline></video>
      </span>
    </div>

    <button id="webcamButton">Start webcam</button>
    <button id="callButton">Create Call (offer)</button>

    <h2>Join a Call</h2>
    <p>Answer the call from a different browser window or device</p>

    <input id="callInput" />
    <button id="answerButton">Answer</button>

    <button id="hangupButton">Hangup</button>

    <script type="module" src="/static/main.js"></script>

  </body>
</html>
